.App{
  text-align: center
}

.main-wrap{
  display: flex;
}

.center-div {
  margin: 0 auto;
  width: 50%
}

.center-list {
  text-align: left;
  width: 500px;
  margin: 0 auto;
}

button {
  background:none;
  color:blue;
  border:none; 
  padding:0!important;
  font: inherit;
  border-bottom:1px solid blue; 
  cursor: pointer;
  text-align: left;
}
button:link { color: #0000EE; }
button:visited { color: #551A8B; }
button:active, button:visited:active { color: #FF0000; }
button:link, button:visited { text-decoration: underline; cursor: pointer; }