.App{
  text-align: center
}

.main-wrap{
  display: flex;
}
.table-wrap{
  display: flex;
  width: 500px;
  margin: 20px auto;
}

.center-div {
  margin: 0 auto;
}
.center-div-pop {
  margin: 0 auto;
  width: 50%
}

.center-list {
  text-align: left;
  width: 500px;
  margin: 0 auto;
  border-spacing: 5px;
}

.popular-songs{
  margin: 0 1.5em 1.5em 1.5em;
}

.popular-songs-list{
  margin: 0;
  padding-left: 1em;
  text-align: left;
}

.popular-songs-list li{
  margin-bottom: 5px;
}

button {
  background:none;
  color:blue;
  border:none; 
  padding:0!important;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
  text-align: left;
}
button:link { color: #0000EE; }
button:visited { color: #551A8B; }
button:active, button:visited:active { color: #FF0000; }
button:link, button:visited { text-decoration: underline; cursor: pointer; }
